@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap');

:root {
  --logo: #001858;
  --blue: #6246ea;
  --light: #c0c0c0;
  --dark: #2b2c34;
  --white: #ffffff;
  --bg-light: #fffffe;
  --bg-dark: #eff0f3;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 82px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: var(--dark);
}

h1 {
  font-size: 64px;
  text-transform: capitalize;
}

h2 {
  font-size: 24px;
  text-transform: capitalize;
}

button {
  color: var(--dark);
}

.see-all-items {
  font-size: 20px;
  font-weight: 700;
}

.see-all-items::after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 20px;
  background: no-repeat url('/img/icons/arrow-right.svg') 0 4px / contain;
}

.right-arrowed {
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.logo__blog {
  font-size: 18px;
  color: var(--blue);
}

/************** header *****************/
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 22px 0;
  background: var(--bg-dark);
  box-shadow: 4px 6px 13px 0px #d7d7d740;
}

.container--header {
  display: flex;
  align-items: center;
}

a.logo {
  margin-right: auto;
  font-size: 36px;
  font-weight: 600;
  color: var(--logo);
}

.container--header nav {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-right: 50px;
}

.container--header nav a {
  display: flex;
  gap: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

.container--header button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 17px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  background-color: var(--blue);
  color: var(--white);
}

/*************** hero *****************/
section.hero {
  background: var(--bg-dark);
}

.container--hero {
  min-height: calc(100vh - 82px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 134px;
}

.hero__info-panel {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container--hero h1 {
  width: 620px;
}
.container--hero p {
  width: 668px;
  padding-left: 12px;
  border-left: 3px solid var(--dark);
  font-size: 20px;
}

.container--hero img {
  display: inline-block;
  padding: 18px;
}

/************** categories ***********/
.categories {
  padding: 68px 0;
  background: var(--bg-dark);
}

.section-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.categories ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px 37px;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 220px;
  height: 280px;
  padding: 65px 30px;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 700;
  background-color: var(--white);
}

.category.active {
  background-color: var(--blue);
  color: var(--white);
}

/************** articles *************/
.featured-articles,
.css,
.js,
.react,
.more {
  margin-bottom: 80px;
  background-color: var(--white);
}

.featured-articles {
  padding-top: 80px;
}

.articles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px 16px;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 425px;
  padding: 20px;
}

.article figure {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.article figcaption {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 20px;
}

.article img-wrapper {
  width: 260px;
  height: 198px;
  border-radius: 12.6px;
  overflow: hidden;
}

.article img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author {
  display: flex;
  align-items: center;
  gap: 15px;
}

.author__name-date {
  flex: 1;
}

.author__name {
  font-weight: 600;
  margin-bottom: 4px;
}

.author__time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.separator {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--dark);
}

.avatar {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 45%;
}

.more {
  text-align: center;
}

/************** subscribe ************/
.subscribe {
  padding: 58px 0;
  text-align: center;
  background: #eff0f3;
}

.container--subscribe {
  max-width: 696px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe h2 {
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 1;
}

.subscribe h2::before {
  content: '';
  display: block;
  width: 137px;
  height: 137px;
  margin: 0 auto 30px;
  border-radius: 50%;
  background: no-repeat var(--white) url('/img/mailbox.png') center bottom /
    80.06px 106.75px;
}

.subscribe p {
  margin-bottom: 30px;
  font-size: 20px;
  color: var(--light);
}

/************** form *****************/
input {
  border-radius: 8px;
  border: none;
}

form {
  display: flex;
  gap: 20px;
}

input[type='email'] {
  width: 444px;
  padding: 20px 25px;
  font-size: 24px;
  font-family: inherit;
}

.more button {
  padding: 21px 23px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  background-color: var(--blue);
  color: var(--white);
}

input[type='submit'] {
  padding: 21px 23px 20px;
  font-size: 20px;
  font-weight: 700;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}

input::placeholder {
  color: var(--light);
  font-size: 20px;
}

/**************** footer ***************/
footer {
  background: #e4e5e9;
  padding-top: 70px;
}

footer li,
footer p {
  font-size: 18px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 1px solid var(--light);
}

.footer-info__logo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-info__social-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

footer h3 {
  text-transform: uppercase;
}

footer nav {
  display: flex;
  gap: 95px;
}

footer h3 {
  margin-bottom: 25px;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.copyright {
  padding: 26px 0;
}
